.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a80d0d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(143, 83, 83);
}

.App-link {
  color: #61dafb;
}
/* สีแถบบน*/
.navbar-static-top{ 
  background-color: rgb(78, 9, 12); 

}
/*สีข้อความ */
.Navtop{
  font-size: 30px;
  font-weight: bolder;
  color: rgb(241, 44, 143);
  margin-left: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
